.intro {
  font-size: calc(15px + 1.083vw);
}

.profile-text {
  font-size: calc(10px + 0.4vw);
  letter-spacing: 0.065vw;
  margin-bottom: 5.208vw;
  opacity: 0.9;
}

.button-wrapper {
  text-align: center;
}

.logo {
  margin: calc(5px + 2.6vw);
  height: calc(5px + 9.76vw);
  width: calc(5px + 9.76vw);
}

.yellow {
  background-color: #f6f09f;
}

.purple {
  background-color: #8686c9;
}

.blue {
  background-color: #b2fcf9;
}

.peach {
  background-color: #f6ccb7;
}

.green {
  background-color: #a6f9dd;
}

.pink {
  background-color: #fdd9e6;
}

.orange {
  background-color: #ffdbb6;
}

a {
  color: rgb(124, 112, 233);
}
